<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

    <featureManager>
        <feature>microProfile-3.0</feature>
         <feature>usr:opentracingZipkin-0.31</feature>
    </featureManager>

	<opentracingZipkin host="zipkin-reefershipmentsolution.apps.green-with-envy.ocp.csplab.local" />
	<httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*" />

	<mpMetrics authentication="false"/>
  

    <webApplication id="KafkaPlay" location="KafkaPlay.war" contextRoot="${app.context.root}"/>
 
    <!-- This is the keystore that will be used by SSL and by JWT. -->
    <keyStore id="defaultKeyStore" location="public.jks" type="JKS" password="atbash" />


    <!-- The MP JWT configuration that injects the caller's JWT into a ResourceScoped bean for inspection. -->
    <mpJwt id="jwtUserConsumer" keyName="theKeyId" audiences="targetService" issuer="${jwt.issuer}"/>

</server>
